.service-screen {
    font-family: be vietnam pro,sans-serif;

    &-categoryies {
        display: flex;
    }

    .service-box-siwtch {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding : 10px 14px;
        background-color: white;
    }

    .service-bot {
        padding : 8px;

        .booking-body__box_bot.--active {
            width : 100%;
            margin-left: 0;
        }
    }

    .service {
        background-color: white;
        padding : 0 8px;

        &-category {
            display : flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 8px 16px;

            &-name {
                font-weight: 600;
                font-size: 1rem;
            }
            span {
                font-size: 0.9rem;
                font-weight: 500;
                color : #767676;
            }
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 16px;
            

            &-item {
                border: 1px solid #d1d1d1;
                border-radius: 6px;
                overflow: hidden;
                height: auto;

                .service-media {

                }

                .service-content {
                    padding : 0 8px 8px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;                

                    &-title {
                        font-size: 0.95rem;
                        font-weight: 600;
                    }

                    &-desc {
                        font-size: 0.8rem;
                        font-weight: 400;
                        margin: 8px 0;
                        color : #5f5f5f;
                        line-height: 1.1rem;
                        min-height: 75px;

                    }

                    &-price {
                        font-weight: 500;
                        font-size: 0.95rem;
                    }

                    &-btn {
                        margin-top: 0.5rem;
                        border-radius: 3px;
                        border : 1px solid #111;
                        padding : 6px 0;
                        font-weight: 600;
                        font-size: 14px;
                        cursor: pointer;
                        transition: all .3s;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            margin-right: 5px;
                            display: none;
                        }

                        &.selected {
                            background: #ffd65c;
                            border-color: #ffd65c;

                            img {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}