.booking-body {
    font-family: be vietnam pro,sans-serif;
    font-weight: 300;
    color: #000;
    background: #fff;
    padding: 30px 15px 0;
    position: relative;

    &__box {
        border-left: 2px solid #e8e8e8;
        padding : 0 0 20px 18px;
        position: relative;

        &.--done {
            border-left: 2px solid #fc3;
        }

        &::before {
            content : "";
            width: 18px;
            height: 18px;
            display: inline-block;
            background: #e8e8e8;
            border-radius: 10px;
            position: absolute;
            top: -8px;
            left: -10px;
        }

        &.--active::before {
            background: #fc3;
            width: 12px;
            height: 12px;
            top: -4px;
            left: -7px;
        }

        &.--done::before {
            background: #fc3;
        }


        &::after {
            content : "";  
            width: 12px;
            height: 12px;
            top: -4px;
            left: -7px;
            transition : all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            position: absolute;
            border-radius: 50%;
            opacity : 0;
        }

        &.--active::after {
            background: #fc3;
            animation: timeline-active .7s cubic-bezier(0,0,.2,1) infinite;

            @include keyframes(timeline-active) {
                100% { 
                    transform: scale(1.5);
                    opacity : 1;
                }
              }
        }

        &.--done::after {
            content: "✓cc";
            width: 60px;
            height: 60px;
            font-size: 12px;
            color: rgb(255, 255, 255);
            position: absolute;
            top: 3px;
            left: -5px;
            background-image: url("../../assets/logo.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &_title {
            font-size: 1.125rem;
            margin-bottom: .85rem;
            font-weight: 500;
            line-height: 0.25rem;

        }

        &_bot {
            width: calc(100% + 40px);
            position: relative;
            margin-left: -30px;
            margin-bottom: 15px;
            padding: 8px;
            border-radius: 8px;
            background: #ebf7ef;
            border: 1px solid #c1e4ca;

            display : none;
            align-items: center;
            visibility: hidden;
            transition: all cubic-bezier(0.39, 0.575, 0.565, 1);

            &.--active {
                visibility: visible;
                display: flex;
                opacity : 1;
            }

            .content {
                flex : 1;
                font-family: be vietnam pro,sans-serif;
                padding: 0 5px;
                font-weight: 300;
                font-size: 14px;
            }

            img {
                width: 55px;
                height: 100%;
                margin-right: 10px;
                border-radius: 18px;
                box-shadow: 0 4px 12px #00000026;
            }
        }

        &_contain {
            background-color: #f7f7f7;
            //     border-color: #f46969;
            border-width: 1px;
            border-radius: .25rem;
            cursor: pointer;

            padding-left: .625rem;
            padding-right: .625rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 2.75rem;
            margin-top: 25px;

            position: relative;

            .icon-close {
                transition : transform 0.2s ease;

                &.rotate {  
                    transform: rotate(90deg);
                }
            }

            .text {
                flex : 1;
                margin : 0 0.7rem;
                font-size: .9rem;
                color: #a3a3a3;

                .choose {
                    color: #111;
                }
            }

            .list-timing {
                position : absolute;
                top: 100%;
                z-index: 10;
                background: white;

                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                left: 0;
                width: 100%;
                display: none;

                &.show{
                    display : block;
                }

                &-item {
                    padding: 0.4rem;
                    border : 1px solid #e8e8e8;


                    &-contain {
                        display : flex;
                        justify-content: space-between;
                        font-size: 0.9rem;
                        font-family: "be vietnam pro",sans-serif;

                        .date {
                            margin-left: 36px;
                            font-size: 0.8rem;

                        }

                        .date-text {
                            margin-right: 10px;
                            font-size: 0.7rem;
                            font-weight: 300;
                            background-color: #11b14b;

                            padding-top: .125rem;
                            padding-bottom: .125rem;
                            padding-left: .5rem;
                            padding-right: .5rem;
                            border-radius: 0.2rem;

                            color: rgba(255,255,255, 0.95);

                            &.important {
                                background-color: #11b14b;

                            }

                            &.normal {
                                background-color: #f87d6d;

                            }
                        }
                    }

                    & ~ & {
                        border-bottom: 1px solid #000;
                    }
                }

                &-item ~ &-item {
                    border-bottom: 1px solid #000;
                }
            }
        }

        .text-warning {
            color: #f46969;
            font-size: .85rem;
            line-height: 1rem;
            margin-top: .375rem;            
            visibility: hidden;
            opacity : 0;
            display: none;
            transition: all cubic-bezier(0.39, 0.575, 0.565, 1);

            &.--show {
                visibility: visible;
                display: inline-block;
                opacity : 1;
            }
        }

    

        .extension {
            font-family: be vietnam pro,sans-serif;

            &-title {
                font-size: 1.2rem;
                font-weight: 500;          
            }

            &-note {
                
                &-head {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    margin-bottom: .375rem;

                    img {}
                    span {
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }

                &-input {

                    textarea {
                        border-bottom: 1px solid #fe3;
                        border-top: 0;
                        border-right: 0;
                        border-left: 0;
                        width: 100%;
                        padding: 5px;
                        height: 35px;
                        outline: none;

                        font-size: 16px;
                        font-weight: 300;

                        &::placeholder {
                            color : rgb(168, 167, 167);
                            font-weight: 300;

                        }
                        ::-webkit-input-placeholder { /* Edge */
                            color : rgb(168, 167, 167);
                            font-weight: 300;
                        }
                          
                        :-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color : rgb(168, 167, 167);
                            font-weight: 300;

                        }
                          
                    }
                }
            }

            &-advance {

                &-item {


                    .extension-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        & > div:nth-child(1) {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            span {
                                font-size: 1rem;
                                font-weight: 500;
                            }
                        }
                    }

                    p {
                        font-size: 0.9rem;
                        font-weight: 300;
                        margin-top: 0.4rem;
                    }
                }
            }
        }

        // time booking
        .time-box {
            margin-top: 1rem;

            &-contain {

                &__item {
                   
                    & > div {
                        background-color: white;
                        border : 1px solid #333;
                        text-align: center;
    
                        padding : 0.25rem 0.5rem;
                        margin-top: 0.5rem;

                    }

                    & > .unavaiable {
                        border: 1px solid #d1d1d1;
                        background: #e8e8e8;
                        color: #a3a3a3;
                        cursor: not-allowed; 
                    }

                    & > .choose {
                        background: $main-color;
                        border-color: transparent;
                        font-weight: 500;
                    }
                }
            }
        }
    }

}