.footer {
    background-color: #000;
    font-family: be vietnam pro,sans-serif;
    font-weight: 300;
    padding : 40px 0;

    &__contain {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;

        &_top {
            display: flex;
            gap: 2rem;

            @include mobile {
                flex-direction: column;
            }
            
            &_col {
                flex : 0 0 33.333%;
                color : white;
                padding: 35px 15px 15px;

                @include mobile {
                    flex : 0 0 100%;
                }

                &_item {
                    display: flex;
                    flex-direction: column;
                    
                    span {
                      margin: 10px 0 16px 0;
                    }
          
                    &_icon{
                      margin-bottom: 10px;
                      display: flex;
                      gap: 0.8rem;
                      img{
                        height: 40px;
                        object-fit: cover;
                      }
                    }
                }

                &.service {
                    ul{
                        margin: 12px 0 20px 0;
                        li{
                          font-size: 16px;
                          font-weight: 300;
                        }
                      }
                }

                &.app {
                  background-color: #000;

                }
            }

            
        }

        &_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top : 1px solid #5f5f5f;
            padding-top : 1.4rem; 

            span{
                text-align: center;
                color: #5f5f5f;
                font-size: 14px;
            }

            &_controll {
                display: flex;
                align-items: center;
                gap : 1.2rem;
                a{
                  color : white;
                  font-weight: 300;
                }
            }
        }
    }
}