.booking {
    max-width: 1200px;
    margin:  0 auto;

    &-contain { 
        max-width: 500px;
        margin:  0 auto;
        background-color: #f7f7f7;
        width: 100%;
    }

    &-header {
        display: flex;
        align-items: center;
        padding: 10px 0;
        color: #111;
        justify-content: center;
        position: relative;

        img {
            position: absolute;
            left : 10px;
            cursor: pointer;
        }
        
        span {
            font-size: 18px;
            font-family: be vietnam pro,sans-serif;
            font-weight: 600;
        }
    }

    @import '../../components/BookingCpn/MainScreen/main';
    @import '../../components/BookingCpn/SalonScreen/salon';
    @import '../../components/BookingCpn/ServiceScreen/service';
    

    &-fixed {
        font-size: 25px;
        font-family: Oswald;
        position: sticky;
        position: -webkit-sticky;
        bottom: -1px;
        z-index: 10;

        &__contain {
            background: #fff;
            
            padding: 15px 23px;
            position: relative;

            justify-content: space-between;
            display: flex;
            flex-direction: column;


            &_btn {
                height: 48px;
                width: 100%;
                border-radius: 6px;
                background: #e8e8e8;

                line-height: 48px;
                text-align: center;

                font-family: Oswald;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 700;
                transition : all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &.--done {
                    background : #fc3;
                    cursor: pointer;
                }
            }

            span {
                font-family: be vietnam pro,sans-serif;
                font-weight: 300;
                font-size: 14px;
                display: block;
                text-align: center;
                margin-top: 6px;
            }
        }
    }
}