.layout-services {

    &__banner {
        margin-bottom: 1rem;
    }

    &__list {
        width: 100%;
        
        &_row {
            
            display : flex;
            margin-left: -12px;
            margin-right: -12px;
            flex-wrap: wrap;
        }

        &_col {
            padding-left: 12px;
            padding-right: 12px;
            flex : 0 0 25%;

            @include tablet {
                flex : 0 0 50%;
            }
        }

        &-item {
            padding: 12px 0;
            display : flex;
            align-items: center;

            .list-item-media{
                display: flex;
                
                margin-right: 1rem;
                border-radius: 0.5rem;
                overflow: hidden;
                height: 100%;
                flex: 0 0 100px;

                img {

                }
            }

            .list-item-content{

                & > div {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                
                &__tit {   
                    color: #111;
                    font-weight: 600;
                    font-size: 18px;
                }

                &__subtit {
                    margin-top: 0.2rem;
                    color: #686868;
                    font-size: 16px;
                    text-transform: lowercase;
                }

            }
        }

    }
}