@import './LayoutSlide/layoutSlide';
@import './LayoutService/layoutService';


.layout {
    margin-top : 3rem;
    font-family: be vietnam pro,sans-serif;

    &-cont {
        max-width: $width;
   
        margin: 3rem auto 0;
        width: 100%;

        @include tablet {
            max-width: 880px;
        }

        @include mobile {
            max-width: 600px;
        }

        &__head {
            margin-bottom: 1.5rem;

            display: flex;
            justify-content: space-between;
            align-items: center;

            &-m {

                &_title {
                    font-size: 1.6rem;
                    font-weight: 600;
                    font-family: Oswald;
                    color: #111;

                    @include tablet {
                        font-size: 1.4rem;
                        margin-bottom: 0.2rem;
                    }
                }

                &_subtitle {
                    font-size: 1.2rem;
                    color: #a6a6a6;
                    text-transform: none;
                    font-family: be vietnam pro,sans-serif;
                    font-weight: 300;
                    @include tablet {
                        font-size: 1rem;
                    }
                }
            }

            &_view_all {
                color: #2f80ed;
                font-family: be vietnam pro,sans-serif;
                font-weight: 300;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap : 0.2rem;
                font-size: 1rem;

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    };
}