@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html{
  scroll-behavior: smooth;

  
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  @include mobile{
    font-size: 13px;
  };
}

::-webkit-input-placeholder { /* Edge */
  color: grey;
  font-weight: 600;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: grey;
  font-weight: 600;
}

::placeholder {
  color: grey;
  font-weight: 600;
}

ul,li {
  list-style: none;
}

a{
  text-decoration: none;
  color: unset;
}

input {
  width : 100%;
  outline: none;
}

a:hover{
//   color : $main-color;
}

img, video{
  max-width: 100%;
  height: auto;
}

$colors: (
    "blue": #4267b2,
    "orange": #fbb96b,
    "pink": #fe7e73,
    "white": #fff,
    "black": #000,
    "main": #4267b2,
    "red" : red,
    "whire" : lightgray
);

@each $color, $val in $colors {
  .color-#{$color} {
    color: $val;
}

  .bg-#{$color} {
      background-color: $val;
  }
}

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);

@each $val in $numbers{
    .grid-col-#{$val}{
      grid-template-columns: repeat($val,1fr);
    }
}


@each $val in $numbers{
  @include tablet{
    .grid-col-md-#{$val}{
      grid-template-columns: repeat($val,1fr);
    }
  }
}

@each $val in $numbers{
  @include mobile{
    .grid-col-sm-#{$val}{
      grid-template-columns: repeat($val,1fr);
    }
  }
}


.app {
  width: 100%;
  background-color: #eee
  // max-width: 1300px;
  // padding: 0 50px;
  // margin: auto;

  // @include tablet {
  //     padding: 0 20px;
  // }

  // @include mobile {
  //     padding: 0 10px;
  // }
}

.main {
  margin-top: $header-height;
  margin-bottom: 2rem;
  min-height: 100vh;

  @include tablet {
      margin-top: calc(#{$header-height} + 20px);
  }

  @include mobile {
      margin-top: calc(#{$header-height} + 10px);
  }
}

.grid {
  display: grid;
}

.hover-scale {
  transition : transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.1);
}

$boxs: (1, 2, 3, 4);


@each $val in $boxs{
 .box-#{$val}{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: $val;
      -webkit-box-orient: vertical;
    }
}

.container {
  width : 100%;
  max-width: $width;

  margin: 0 auto;

  @include tablet {
    max-width: $width-tablet;
  }

  @include mobile {
    max-width: $width-mobile;
  }
}

