$mobile-width: 768px;
$tablet-width: 1024px;

$main-color : #fc3;
$header-height : 72px;

$spacing-container : 60px;
$spacing-container-tablet : 30px;
$spacing-container-mobile : 10px;


$width : 1000px;
$width-tablet : 900px;
$width-mobile : 700px;