@import './variables';
@import './mixins';
@import './base';

// Header
@import '../components/Header/header';
 
// Home page
@import '../pages/Home/home.scss';

// Other Service page
@import '../pages/OtherServices/otherService';

// journey page
@import '../pages/Journey/journey';

// Footer
@import '../components/Footer/footer';

// Login
@import '../components/Login/login';
